module.exports = {
  host: '127.0.0.1',
  clientPort: 3000,
  server: 'http://eyasliu.eyasweb.com',
  debug: true,
  devtool: true,
  defaultDevtoolOpen: true,
  defaultDevtoolPosition: 'right'  //['left', 'top', 'right', 'bottom']
};